<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configure</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href='/'>dashboard</a> | 
        <a href='/dashboard/submitList'>submit list</a> | 
        <a href='/signup/logout' class='signout'>signout</a>
    </header>
   
    <h1>Configure</h1>  

    <p>MS Exchange Credentials</p>
    <p>Currently stored credentials: <%= accountName %></p>
    <form class="login-form" action="../login/configure" method="POST">
        <input type="text" name='email' placeholder="email">
        <input type="text" name='password' placeholder="password">
        <input type="submit">
    </form>
    <h2>Import</h2>
    <p>You have imported <%= dataCount %> contacts. Do you wish to add new contacts to this list, edit the current contacts or replace the list?</p>
    <a href='#' class='button'>Add Contacts</a> <a href='/login/editList' class='button'>Edit List</a> <a href='#' class='button'>Replace Data</a> <a href='/setDates/import' class='button'>Import Data</a>
</body>
</html>