<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login to Access your Appointments</h1>
    <a href="/setDates">Set available Dates</a>
<p></p>
    <!-- <form class="signup-form" action="/signup" method="POST">
        <input type="text" name='email' placeholder="email">
        <input type="text" name='password' placeholder="password">
        <input type="text" name='confirmPassword' placeholder="confirm password">
        <input type="submit">
    </form> -->

    <form class="login-form" action="../login" method="POST">
        <input type="text" name='email' placeholder="email">
        <input type="text" name='password' placeholder="password">
        <input type="submit">
    </form>
</body>
</html>