<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contacts</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <% if (message){ %> 
        <p class='message'><%= message %></p>
    <% } %>
    <main class='signin clearfix'>
        <section class='logon'>
            <h1>Reset your password</h1>
            <h2>User: <%= user.email %></h2>
            <form class="signup-form" action="/login/newPassword" method="POST">
                <input type="password" name='password' placeholder="password">
                <input type="password" name='confirmPassword' placeholder="confirm password">
                <input type="submit">
            </form>

        </section>
    </main>
</body>
</html>