<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Information</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div>
        <% for (items of errors) { %>
            <p><%= items %></p>
        <% } %>
    </div>
    <h1>Update Contact Information</h1>
    <p>Our offices is updating all contact information to ensure that your services are not interrupted, please provide us with your current information. If you wish to have your information removed from our list then please call or email us.</p>
    
    <form method='POST' action='/setDates/updateInfo'>
        <h2>1. Contact Name</h2>
        <label for='firstname'>Name</label>
        <input id='firstname' name='firstname'type='text' placeholder="Juana" <%= name.first ? `value=${name.first}` : '' %>>
        <label for='middleinitial'>Initial</label>
        <input id='middleinitial' name='middleinitial' type='text' placeholder="S" <%= name.middle ? `value=${name.middle}` : '' %>>
        <label for='lastname'>Last Names</label>
        <input id='lastname' name='lastname' type='text' placeholder="del Pueblo Santa" <%= name.last ? `value=${name.last}` : '' %>>

        <h2>2. Postal Address</h2>
        <label for='urbName'>Urb Name</label>
        <input id='urbName' name='urbName' type='text' placeholder="Urb. Santa Juanita">
        <label for='streetaddr'>Street Address</label>
        <input id='streetaddr' name='streetaddr' type='text' placeholder="345 Calle Ricon Nuevo">
        <label for='city'>City</label>
        <input id='city' name='city' type='text' placeholder="Rincon">
        <label for='state'>State</label>
        <input id='state' name='state' type='text' placeholder="PR">
        <label for='zip'>Zip Code</label>
        <input id='zip' name='zip' type='text' placeholder="00999-45302"> 

        <h2>3. Phone Numbers</h2>
        <div id='numberSlots'>
            <label for='number1'>number</label>
            <input id='number1' name='number' type='text' placeholder="787-555-5555"> 
            <label for='type1'>Type</label>
            <select id='type1' name='type'>
                <option value='Home'>Home</option>
                <option value='Mobile'>Mobile</option>
                <option value='Business'>Business</option>
                <option value='Other'>Other</option>
            </select>
        </div>
        <button class='addNumber' type="button">Add Number</button>

        <h2>4. Email Address</h2>
        <label for='email'>email</label>
        <input id='email' name='email' type='text' placeholder="email@email.com"> 
        <p>Can we use this email to comunicate with you for official purposes?</p>
        <label for="huey">Yes</label>
        <input type="radio" id="huey" name="selector" value="true">
      
        <label for="dewey">No</label>
        <input type="radio" id="dewey" name="selector" value="false">
      
        <input type="submit" value="Submit">
    </form>




<!-- CAncel rest -->

    <script src="../../js/main.js"></script>
</body>
</html>