h1{
    color:black;
    background-color:lightcoral;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: .5em;
    margin: 0;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

header{
    padding: 1em;
}

/*-------------------------------------*/
/*-----------------dates---------------*/
/*-------------------------------------*/
.dayContainer, .timeSlots, .monthContainer{
    border: 1px solid black;
}

.monthContainer{
    text-align: center;
    width: 60%;
    margin: 1rem auto;
}

.timeSlots{
    margin: .3em;
    padding: .2em;
}

.dayContainer{
    display: inline-block;
    width: 20%;
    margin: .4em;
}

h3, h2{
    height: 2em;
    line-height: 2em;
    margin: 0;
    padding-left: .5em;
}
h3{
    background-color:skyblue ;
}

h2{
    background-color: cornflowerblue;
    color: white;
}

p{
    font-size: 1.4rem;
    margin: 1rem;
}
p+p{
    border-top: 1px solid grey;
    padding-top: 1rem;
}