/* Box Model Hack */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

/******************************************
/* BASE STYLES
/*******************************************/

html, body{
    height: 100%;
    font-size: 1.03rem;
}

h1{
    color:black;
    background-color:lightcoral;
    height: 2em;
    line-height: 2em;
    padding-left: .5em;
    margin: 0;
}

h3, h2{
    height: 2em;
    line-height: 2em;
    margin: 0;
    margin-bottom: .5em;;
    padding-left: .5em;
}

h3{
    background-color:skyblue ;
}

h2{
    background-color: cornflowerblue;
    color: white;
}

input, select{
    font-size: .95rem;
}

header{
    padding: 1em;
}


/******************************************
/* FORM STYLES
/*******************************************/

section{
    padding: .5em;
}

.container{
    width: 49%;
    height: 100%;
    float: left;
}

.contactName input, .addressMain input{
    display: block;
    margin-bottom: 1em;
    border: 1px solid lightgrey;
    height: 2em;
    width: 100%;
}

.stateInfo{
    display: inline-block;
    width: 30.5%;
}

.phoneNumbers input, .phoneNumbers select{
    display: inline-block;
    width: 40%;
}

.phoneNumbers select{
    margin-bottom: .5em;
}

.phoneNumbers button{
    margin: .5em;
    padding: .4em;
    float: right;
}

.submitButton{
    height: fit-content;
}

/******************************************
/* OLD STYLES
/*******************************************/
/* 
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}


/* section{
    padding: 10px;
} */

/* label{
    display: inline-block;
    width: 49%;
}

input, select{
    margin-bottom: 1em;
    border: 1px solid lightgrey;
    height: 2em;
    width: 48%;
}


#appointmentDates label{
    display: inline-block;
    padding-left: 5px;
    width: 32%;
}
label[for='durationItem']{
    width: 100%;
}

#appointmentDates input, select{
    display: inline-block;
    width: 32%;
}


ul{
    list-style: none;
    padding: 0;
}

select{
    width: fit-content;
} */

/*-------------------------------------*/
/*-----------------dates---------------*/
/*-------------------------------------*/
/* .dayContainer, .timeSlots, .monthContainer{
    border: 1px solid black;
}

.monthContainer{
    text-align: center;
    width: 60%;
    margin: 1rem auto;
}

.timeSlots{
    margin: .3em;
    padding: .2em;
}

.dayContainer{
    display: inline-block;
    width: 20%;
    margin: .4em;
}

*/

table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid black;
    padding: .5em .2em;
}
th{
    text-transform: uppercase;
    text-align: left;
} 
p.table{
    margin: 0;
}

.contactTable{
    width: 100%;
}

/******************************************
/* Signin Page
/*******************************************/
main{
    height: 100%;
    width: 100%;
}

.logon{
    width: 70%;
    background-color: rgb(245, 242, 237);
}

.signup{
    width: 30%;
    background-color: lightcoral;
}

.signin input{
    display: block;
    margin: 2em auto;
    height: 3em;
}

.signin section{
    text-align: center;
}

.logon, .signup{
   float: left;
   margin: 0;
   padding: 0;
   height: 100%;
}

.signin h1{
    background-color: transparent;
}

.signup a{
    display:inline-block;
    margin-top: 1em;
    border: 2px solid white;
    padding: .5em 4em;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
}

.signup a:hover{
    color: lightcoral;
    background-color: white;
}


/* --------------------------------------------------
-----------------------------------------------------
----------------------------------------------------*/

/* .button {
    padding: .8em;
    margin: .3em;
    
    color: rgb(37, 55, 88);
    background-color: cornflowerblue;
    font-weight: 900;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover{
    color: rgb(202, 227, 255);
}



 */

input[type='submit']{
    display: block;
    margin-top: 1em;
    border: 1px solid rgb(182, 97, 97);
    background-color: transparent;
    height: 3em;
    width: 30%;
    font-variant: small-caps;
    font-weight: 900;
    font-size: large;
    color: lightcoral;
}

input[type='submit']:hover{
    border: 1px solid rgb(182, 97, 97);
    background-color: lightcoral;
    color: white;
}

.disabled{
    background-color: lightgray;
    color: grey;
}
.disabled h2{
    background-color: grey;
}

.submitData{
    float: right;
    width: 100%;
}

.strike{
    text-decoration: line-through;
}

.verified{
    background-color: indianred;
}
.addContact{
    display: none;
}

.addContact section{
    width: 40%;
    height: 16em;
    float: left;
}
.addContact .lessSpace{
    height: 12em;
}
.addContact section h2{
    background-color:mediumpurple;
}

.message{
    font-weight: 900;
    font-size: xx-large;
    border: 1px solid darkgray;
    background-color: aquamarine;
}

.errors{
    color:crimson;
    font-weight: 900;
    font-size: x-large;
    border: 1px solid darkgray;
}

.letter{
    padding: 1.5em;
    height: 84%;
}

.letter address{
    margin-bottom: 4em;
}

.signature {
    margin: 2em 0;
}
.signature p, footer p{
    margin: 0;
}
footer p{
    text-align: center;
}
.letterHeader li{
    display: inline-block;
    text-decoration: none;
    padding: 0 1em;
    border-left: 1px solid black;
}
.letterHeader li a{
    text-decoration: none;
}

@media print {
    .noprint {
       visibility: hidden;
    }
 }